# Занятие 3

## Введение

Всем привет! Здесь будет материал третьего занятия.

В качестве введения давайте рассмотрим следующий пример для погружения в контекст – убедитесь, что вы понимаете все слова в этом введении.

Предположим, что собрано много различных экспертов, каждому из которых дан индивидуальный статистический материал, на основании которого надо решить задачу корреляционного анализа, с которой вы уже знакомы. Также предположим, что им нужно принять решение об отвержении гипотезы на уровне значимости $5\%$. В заключение допустим, что все они исследуют случай независимости. Таким образом, мы будем ожидать, что в среднем $5\%$ экспертов отвергнут верную гипотезу (иными словами *совершат ошибку I рода*).

Пусть $t$ – некоторое положительное значение, при котором соответствующее $P$-значение равно $5\%$, т. е. $P(r < t) = 0.05$. Для соответствующего отрицательного значения имеем $P(r < -t) = 0.05$.

## Часть 1. Параметрические задачи.

Пусть есть некоторая выборка. В рамках этого задания мы всегда будем предполагать нормальность выборки (иными словами, то, что выборка имеет нормальное распределение).

Также можно думать про это следующим образом: под выборкой будем понимать серию незвисимых изерений некоторой физической величины, т. е. результат измерения можно представить так

$$
X = a + \varepsilon,
$$

где $a$ – истинное значение измеряемой величины (фиксированное, неслучайное, но неизестное заранее); $\varepsilon$ – погрешность измерения (случайная величина, различная для каждого нового опыта).

Давайте теперь представим погрешность измерения $\varepsilon$ в виде суммы случайной погрешности $\varepsilon_0$ с нулевым математическим ожиданием и некоторой фиксированной составляющей $\mathbb{E}\varepsilon$, которая есть систематическая погрешность:

$$
\varepsilon = \varepsilon_0 + \mathbb{E}\varepsilon.
$$

> Более простым языком: вы проводите серию экспериментов на каком-то приборе. Из-за того, что вы не меняете прибор, на котором проводите ваши испытания, ваша систематическая погрешность не изменяется. При этом у вас всегда присутствует некоторая случайная погрешность, которая отличается от испытания к испытанию.

Результат измерения $X$ теперь может быть записан как

$$
X = a + \varepsilon_0 + \mathbb{E}\varepsilon.
$$

### 1.1. Нулевая систематическая погрешность.

Если $\mathbb{E}\varepsilon = 0$, то переходя к математическому ожиданию имеем

$
\mathbb{E} X = \mathbb{E} a = a.
$

Таким образом, задача нахождения истинного значения измеряемой величины сводится к задаче оценки математического ожидания выборки.

### 1.2. Ненулевая систематическая погрешность.

Если $\mathbb{E}\varepsilon \neq 0$, то переходя к математическому ожиданию имеем

$
\mathbb{E} X = \mathbb{E} a + \mathbb{E} \varepsilon \neq a.
$

В этом случае ничего хорошего не будет, потому что даже не смотря на то, что мы можем определить $\mathbb{E}X$, нам этого не хватит. Поэтому важно стараться избавиться от систематической погрешности, когда это возможно.

#### Замечание

Переходя к дисперсии всё в том же равенстве, мы получим

$$
D X = D \varepsilon,
$$

т. е. дисперсия действительно определяет случайных разброс результатов измерения вокруг среднего.

## Часть 2. Сравнение дисперсии двух выборок.

Рассмотрим следующие гипотезы:
<br>$H_0:$ Выборки имеют равные дисперсии,
<br>$H_1:$ Выборки имеют различные дисперсии.

Для проверки равенства дисперсий мы будем проводить $F$-тест или,как его ещё называют, критерий Фишера (или $F$-критерий).

Статистикой критерия является величина $F$, которая есть отношение точечных оценок дисперсий каждой из выборок:
$$
F = \dfrac{\hat{\sigma}_X^2}{\hat{\sigma}_Y^2}
$$

Можно доказать, что если дипесии выборок равны при нормальности выборок, то распределение $F$-статистики известно и зависит только от объёмов выборок.

В случае различия дисперсий $F$-статистика будет отклоняться.

Для двух выборок объёма $m$ и $n$ нормальных случайных величин $X$ и $Y$ соответственно, $F$-статистика будет иметь распределение Фишера $F(m - 1, n - 1)$.

Займёмся наконец делом.

In [1]:
import pandas as pd
df = pd.read_excel("../Data/Comparisons.xls")
df.head()

   Метод    CuO  Партия  CuSO4  Группа     N  Место     X  Т(С)  Продукт
0    1.0  38.20     1.0   98.2     1.0  9.29    1.0  26.3    20      2.4
1    1.0  38.00     1.0   98.7     1.0  9.38    1.0  26.6    20      3.3
2    1.0  37.66     1.0   97.8     1.0  9.35    1.0  26.1    20      3.4
3    2.0  37.70     2.0   98.1     1.0  9.43    1.0  26.0    20      3.2
4    2.0  37.65     2.0   97.7     2.0  9.53    1.0  26.9    20      4.4

In [2]:
pd.set_option('display.max_rows', 100)
display(df)

    Метод    CuO  Партия  CuSO4  Группа     N  Место     X  Т(С)  Продукт
0     1.0  38.20     1.0   98.2     1.0  9.29    1.0  26.3    20      2.4
1     1.0  38.00     1.0   98.7     1.0  9.38    1.0  26.6    20      3.3
2     1.0  37.66     1.0   97.8     1.0  9.35    1.0  26.1    20      3.4
3     2.0  37.70     2.0   98.1     1.0  9.43    1.0  26.0    20      3.2
4     2.0  37.65     2.0   97.7     2.0  9.53    1.0  26.9    20      4.4
5     2.0  37.55     2.0   97.3     2.0  9.48    2.0  26.8    20      3.4
6     NaN    NaN     NaN    NaN     2.0  9.61    2.0  26.1    80      1.7
7     NaN    NaN     NaN    NaN     2.0  9.68    2.0  25.9    80      1.6
8     NaN    NaN     NaN    NaN     NaN   NaN    2.0  26.4    80      2.7
9     NaN    NaN     NaN    NaN     NaN  9.52    2.0  26.6    80      2.2
10    NaN    NaN     NaN    NaN     NaN   NaN    NaN   NaN    80      2.7
11    NaN    NaN     NaN    NaN     NaN   NaN    NaN   NaN    80      2.1

**Легенда к заданию.**

* Двумя методами измеряли содержание оксида меди в минерале:
    * **Метод** – номер метода,
    * **CuO** – содержание оксида меди (%).

* Измерялось содержание медного купороса в двух партиях товара:
    * **Партия** – номер партии,
    * **CuSO4**  – содержание медного купороса (%).

* Две группы исследователей измеряли содержание азота в одном органическом соединении (правильный результат – внизу столбца N):
    * **Группа** – номер группы,
    * **N** – содержание азота.

* Для проверки гомогенности образца медицинского препарата взяли пробы из верхней и нижней частей контейнера и получили содержание основного компонента:
    * **Место** – 1(Верх), 2(Низ),
    * **X** – содержание вещества (%).

* В технологическом растворе при синтезе красителя определены концентрации продукта (при различной температуре):
    * **Т(C)** – температура,
    * **Продукт** – концентрация продукта (г/л).

*С этих пор я убираю куски про форматирование таблиц, предполагая, что вы этому уже научились.*

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Метод    6 non-null      float64
 1   CuO      6 non-null      float64
 2   Партия   6 non-null      float64
 3   CuSO4    6 non-null      float64
 4   Группа   8 non-null      float64
 5   N        9 non-null      float64
 6   Место    10 non-null     float64
 7   X        10 non-null     float64
 8   Т(С)     12 non-null     int64
 9   Продукт  12 non-null     float64
dtypes: float64(9), int64(1)
memory usage: 1.1 KB

In [4]:
df = df.fillna(0)

Посмотрим на описательные статистики нашего датафрейма – это не понадобится нам сегодня явно, но мы делаем это для порядка и закрепления материала.

In [5]:
df.describe()

,Метод,CuO,Партия,CuSO4,Группа,N,Место,X,Т(С),Продукт
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,0.750000,18.896667,0.750000,48.983333,1.000000,7.105833,1.250000,21.975000,50.000000,2.758333
std,0.866025,19.737649,0.866025,51.162448,0.852803,4.286317,0.753778,10.269294,31.333978,0.817378
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,1.600000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,6.967500,1.000000,25.975000,20.000000,2.175000
50%,0.500000,18.775000,0.500000,48.650000,1.000000,9.405000,1.000000,26.200000,50.000000,2.700000
75%,1.250000,37.670000,1.250000,97.875000,2.000000,9.522500,2.000000,26.600000,80.000000,3.325000
max,2.000000,38.200000,2.000000,98.700000,2.000000,9.680000,2.000000,26.900000,80.000000,4.400000

Теперь же давайте выполним *двухвыборочный $F$-тест* для проверки равенства дисперсии для столбца **N**.

In [6]:
import scipy.stats
import numpy as np

В качестве первого набора данных давайте выберем первую группу, в качестве второго – вторую.

In [7]:
firstGroupBadWay = df['N'][0:4]
secondGroupBadWay = df['N'][4:8]
print(firstGroupBadWay)
print("------")
print(secondGroupBadWay)

0    9.29
1    9.38
2    9.35
3    9.43
Name: N, dtype: float64
------
4    9.53
5    9.48
6    9.61
7    9.68
Name: N, dtype: float64

Как вы видите, нам пришлось глазками смотреть на индексы строк, соответсвующие первой и второй группам, что не очень удобно. Кроме того, как быть, если таблица сильно больше а одинаковые группы разбросаны по разным строкам? Конечно, есть более удобный способ выбрать нужные нам значения столбца **N** в зависимости от значения в столбце **Группа**.

In [8]:
firstGroup = df.loc[df['Группа'] == 1.0, 'N']
secondGroup = df.loc[df['Группа'] == 2.0, 'N']

In [9]:
print(firstGroup)
print("-------")
print(secondGroup)

0    9.29
1    9.38
2    9.35
3    9.43
Name: N, dtype: float64
-------
4    9.53
5    9.48
6    9.61
7    9.68
Name: N, dtype: float64

Как видим, всё в полном порядке.

Давайте найдём дисперсии выборок. Мы умеем делать это несколькими способами, и вы можете выбрать любой, который нравится вам больше.

In [10]:
firstVar = np.var(firstGroup, ddof = 1)
secondVar = np.var(secondGroup, ddof = 1)
print("firstGroupVar: ",firstVar)
print("secondGroupVar: ", secondVar)

firstGroupVar:  0.003425000000000041
secondGroupVar:  0.007766666666666626

In [11]:
print("firstGroupVar:", firstVar)

firstGroupVar: 0.003425000000000041

Теперь нам нужно найти отношение точечных оценок дисперсий. Например, мы можем сделать это для выборочных дисперсий.

Давайте напишем функцию, которая будет выполнять $F$-тест для проверки равенства дисперсий двух выборок – убедитесь, что вы понимаете, почему это именно такая функци.

In [12]:
def fTest(firstSample, secondSample):
    firstSample = np.array(firstSample)
    secondSample = np.array(secondSample)
    f = np.var(firstSample, ddof=1) / np.var(secondGroup, ddof=1)
    dfn = firstGroup.size - 1
    dfd = secondGroup.size - 1
    p = 1 - scipy.stats.f.cdf(f, dfn, dfd)
    return (f, p)

> В особенности интересует эта строка `p = 1 - scipy.stats.f.cdf(f, dfn, dfd)`. Пожалуйста, в выполненном задании напишите текстом разбор этой строки в духе: "Так как P-значение – это то-то, то мы должны сделать то-то, чтобы получилось то-то."

Выполним наконец $F$-тест для проверки дисперсий наших выборок.

In [13]:
f, pValue = fTest(firstGroup, secondGroup)
print("F:", f)
print("P-value:", pValue)

F: 0.4409871244635269
P-value: 0.7406260852648179

## Часть 3. Сравнение средних двух выборок.

Для сравнения средних двух выборок можно использовать критерий Стьюдента (или, как его ещё называют, $t$-тест).

Стоит отметить, что классический критерий Стьюдента использует предположение о том, что дисперсии равны.

Рассмотрим следующие гипотезы:
<br>$H_0:$ Выборки имеют равные средние,
<br>$H_1:$ Выборки имеют различные средние.

Пусть есть две независимые нормальные выборки объёма $n_1$ и $n_2$. В случае совпадения дисперсий статистика критерия имеет вид

$$
t = \frac{\overline X_1 - \overline X_2}{s_X \sqrt{\frac{1}{n_1}+\frac{1}{n_2}}} ~,~~s_X=\sqrt {\frac{(n_1 - 1)s_1^2 + (n_2 - 1)s_2^2}{n_1 + n_2 - 2}},
$$
где $s$ – несмещённая оценка дисперсии:
$$
s^2=\frac {\sum^n_{t=1}(X_t-\overline X)^2}{n-1}
$$

Отметим также, что эта статистика имеет распределение Стьюдента $t(n_1 + n_2 - 2)$.

Так как мы не отвергли гипотезу о совпадении дисперсий, давайте выполним $t$-тест для тех же групп.

In [14]:
scipy.stats.ttest_ind(firstGroup, secondGroup)

Ttest_indResult(statistic=-4.017367360141328, pvalue=0.006979687421480706)

Что мы видим? Значение статистики достаточно сильно отклоняется от нуля (отрицательно же оно потому, что в качестве первой выборки мы взяли выборки с меньшим значением среднего). Очень маленькое (к слову, двухстороннее) $P$-значение подтверждает это. Какой вывод из этого следует? Что мы можем отклонить гипотезу о равенстве средних. Вероятность ошибиться при этом очень и очень мала.

## Часть 4. Двухвыборочный t-тест.

Здесь мы не будем глубоко вдаваться в теоретическое обоснование. Вместо этого проведём необходимые вычисления.

In [15]:
dfFilter = pd.read_excel("../Data/Filter.xls")

In [16]:
display(dfFilter)

      До  После
0  100.1   96.6
1  115.1  115.6
2  130.0  125.5
3   93.6   94.0
4  108.3  103.3
5  137.2  134.4
6  104.4  100.2
7   97.3   97.1

In [17]:
dfFilter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   До      8 non-null      float64
 1   После   8 non-null      float64
dtypes: float64(2)
memory usage: 256.0 bytes

In [18]:
scipy.stats.ttest_rel(dfFilter['До'], dfFilter['После'])

Ttest_relResult(statistic=2.9732548005798334, pvalue=0.020711935094041782)

Видим, что $P$-значение достаточно мало. Следовательно, мы можем отвергнуть гипотезу о том, что результаты **До** и **После** результат фильтрации существенен.

In [19]:
print(dfFilter['До'].mean())
print(dfFilter['После'].mean())

110.74999999999999
108.3375

## Часть 5. Проверка на равенство среднего определённому числу.

Вернёмся к файлу, где были содержания.

In [20]:
dfContents = pd.read_excel("../Data/Contents.xls")

Я почистил лишние строки в нём.

In [21]:
display(dfContents)

    Лаб     Al    Sn   FeO
0     1  0.016  0.42  6.21
1     1  0.015  0.20  6.22
2     1  0.017  0.26  6.33
3     1  0.016  0.27  6.02
4     1  0.019  0.32  6.32
5     2  0.017  0.19  6.09
6     2  0.016  0.12  6.23
7     2  0.016  0.21  6.15
8     2  0.016  0.43  6.26
9     2  0.018  0.27  6.14
10    3  0.015  0.38  6.18
11    3  0.014  0.17  6.23
12    3  0.014  0.28  5.71
13    3  0.014  0.19  6.33
14    3  0.015  0.35  6.13
15    4  0.011  0.17  5.74
16    4  0.007  0.23  6.06
17    4  0.008  0.27  6.28
18    4  0.010  0.53  6.32
19    4  0.009  0.39  6.03
20    5  0.011  0.35  5.98
21    5  0.011  0.24  6.50
22    5  0.013  0.22  5.94
23    5  0.012  0.17  6.05
24    5  0.012  0.18  5.88
25    6  0.012  0.33  6.14
26    6  0.014  0.53  5.92
27    6  0.013  0.18  6.26
28    6  0.013  0.44  6.40
29    6  0.015  0.26  6.11
30    7  0.011  0.23  5.96
31    7  0.009  0.23  6.43
32    7  0.012  0.23  6.15
33    7  0.010  0.21  6.10
34    7  0.012  0.20  6.31
35    8  0.011  0.24  6.21
36    8  0.011  0.32  6.05
37    8  0.012  0.18  6.33
38    8  0.014  0.27  5.84
39    8  0.013  0.21  5.80
40    9  0.012  0.21  5.99
41    9  0.014  0.16  6.29
42    9  0.015  0.18  6.01
43    9  0.013  0.22  5.84
44    9  0.014  0.29  6.38
45   10  0.015  0.18  6.28
46   10  0.018  0.51  6.07
47   10  0.016  0.25  6.03
48   10  0.017  0.14  6.23
49   10  0.016  0.27  6.13
50   11  0.015  0.15  6.17
51   11  0.014  0.20  6.26
52   11  0.013  0.40  5.97
53   11  0.014  0.21  6.01
54   11  0.014  0.30  5.86
55   12  0.012  0.18  5.84
56   12  0.014  0.22  6.32
57   12  0.012  0.15  6.16
58   12  0.013  0.20  6.02
59   12  0.012  0.27  5.82

In [22]:
dfContents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Лаб     60 non-null     int64
 1   Al      60 non-null     float64
 2   Sn      60 non-null     float64
 3   FeO     60 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 2.0 KB

In [23]:
scipy.stats.ttest_1samp(dfContents['Sn'], 0.26)

Ttest_1sampResult(statistic=-0.053254042834835584, pvalue=0.9577094055431739)

Видим, что отклонение очень маленькое, и $P$-значение очень большое. Значит, гипотеза о равенстве среднего заданному числу ($0.26$) принимается.

In [24]:
scipy.stats.ttest_1samp(dfContents['FeO'], 0.26)

Ttest_1sampResult(statistic=247.2628135524946, pvalue=1.1124582548513744e-90)

Что тут? Отклонение очень большое, а $P$-значение почти что ноль.

In [25]:
dfContents['FeO'].mean()

6.117

Давайте посмотрим гипотезу на равенство среднего последней выборки числу $6$.

In [26]:
scipy.stats.ttest_1samp(dfContents['FeO'], 6.0)

Ttest_1sampResult(statistic=4.939345942571638, pvalue=6.791082679392058e-06)

Что видим? Маленько отклонение и большое $P$-значение. Следовательно, мы принимаем гипотезу о равенстве среднего заданному числу.

Для забавы давайте посмотри, что будет, если проверить среднее на равенство точному значению среднего.

In [27]:
scipy.stats.ttest_1samp(dfContents['FeO'], 6.117)

Ttest_1sampResult(statistic=3.7495901483978375e-14, pvalue=0.9999999999999702)

Как и ожидалось, отклонение почти что ноль при малом $P$-значении.

## Задача.

Выполнить своё индивидуальное задание.